    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  } 
#graph-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
  position: absolute;
  top: 115%;
  cursor: pointer;
  right: 0px;
  left: 10px;
  color: var(--text-accent);
  z-index: 9;
}

.graph-title-container {
  display: none;
  justify-content: flex-end;
  width: 100%;
}
